.class{} /* .(class) dove "class" nominativo classe */
.bggeneric {
  background:rgb(255, 0, 0);
  z-index: 0;
}
#id{}  /* #(id) dove "id" nominativo id */
tag /* per i tag non servono simboli */

    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      background-color: #333;
    }

    .sidebar {
      height: 100vh;
      width: 200px;
      position: fixed;
      background-color: #333; /* Dark background color */
      padding-top: 20px;
      transition: 0.5s;
  }
  

    .sidebar a {
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidebar a:hover {
      background-color: #555;
    }

    .main-content {
      margin-left: 200px;
      padding: 20px;
      transition: margin-left 0.5s;
    }

    .auth-links {
      color: white;
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      .sidebar {
        width: 0;
      }

      .main-content {
        margin-left: 0;
      }

      .sidebar a {
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        text-align: center;
        transition: 0.3s;
      }

      .sidebar a:hover {
        background-color: #555;
      }

      .open-btn {
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        margin-left: 170px;
        margin-top: 20px;
      }
    }